In [22]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

PROBLEM STATEMENT

we're trying to understand how the students overall score is affected by factors such as gender, race_ethnicity, parental level of education, lunch and test preparation course.

In [18]:
df = pd.read_csv('stud.csv')

In [23]:
df.sample(5)

,gender,race_ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score
251,female,group D,some college,free/reduced,none,71,83,83
924,male,group D,high school,free/reduced,none,74,70,69
777,female,group C,some college,free/reduced,none,35,44,43
250,male,group A,some high school,standard,completed,47,49,49
418,male,group D,some college,standard,none,68,59,62

In [20]:
df.shape

(1000, 8)

The dataset consists of 8 columns and 1000 rows. We've taken the sample of 1000 students.

DATA CHECKS TO PERFROM

- check missing values 
- checks duplicates
- check datatype
- check the no. of unique values of each column 
- check statistics of the dataset

In [24]:
df.isnull().sum()

gender                         0
race_ethnicity                 0
parental_level_of_education    0
lunch                          0
test_preparation_course        0
math_score                     0
reading_score                  0
writing_score                  0
dtype: int64

There are no missing values in any of the columns.

In [26]:
df.duplicated().sum()

0

There are no duplicate rows.

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race_ethnicity               1000 non-null   object
 2   parental_level_of_education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test_preparation_course      1000 non-null   object
 5   math_score                   1000 non-null   int64
 6   reading_score                1000 non-null   int64
 7   writing_score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

There are 3 numerical columns and 5 categorical columns.

In [29]:
for items in df.columns:
    print(df[items].value_counts())
    print('*'*20)

gender
female    518
male      482
Name: count, dtype: int64
********************
race_ethnicity
group C    319
group D    262
group B    190
group E    140
group A     89
Name: count, dtype: int64
********************
parental_level_of_education
some college          226
associate's degree    222
high school           196
some high school      179
bachelor's degree     118
master's degree        59
Name: count, dtype: int64
********************
lunch
standard        645
free/reduced    355
Name: count, dtype: int64
********************
test_preparation_course
none         642
completed    358
Name: count, dtype: int64
********************
math_score
65    36
62    35
69    32
59    32
61    27
      ..
24     1
28     1
33     1
18     1
8      1
Name: count, Length: 81, dtype: int64
********************
reading_score
72    34
74    33
64    32
67    30
73    30
      ..
28     1
26     1
17     1
32     1
40     1
Name: count, Length: 72, dtype: int64
********************
writing_score
74    35
70    33
68    31
73    28
80    27
      ..
28     1
35     1
19     1
22     1
23     1
Name: count, Length: 77, dtype: int64
********************

In [31]:
df.describe()

       math_score  reading_score  writing_score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

The mean and standard deviation of all three numerical columns is similar which shows that the data is well distributed.

In [35]:
cat_cols = [items for items in df.columns if df[items].dtype == object]

In [36]:
cat_cols

['gender',
 'race_ethnicity',
 'parental_level_of_education',
 'lunch',
 'test_preparation_course']

In [37]:
num_cols = [items for items in df.columns if df[items].dtype != object]

In [38]:
num_cols

['math_score', 'reading_score', 'writing_score']

In [42]:
for items in df[cat_cols]:
    print(f'categories in {items} variable: ', end = '')
    print(df[items].unique())

categories in gender variable: ['female' 'male']
categories in race_ethnicity variable: ['group B' 'group C' 'group A' 'group D' 'group E']
categories in parental_level_of_education variable: ["bachelor's degree" 'some college' "master's degree" "associate's degree"
 'high school' 'some high school']
categories in lunch variable: ['standard' 'free/reduced']
categories in test_preparation_course variable: ['none' 'completed']

In [43]:
print('We have {} numerical features:{}'.format(len(num_cols), num_cols))

We have 3 numerical features:['math_score', 'reading_score', 'writing_score']

In [44]:
print('we have {} categorical features: {}'.format(len(cat_cols), cat_cols))

we have 5 categorical features: ['gender', 'race_ethnicity', 'parental_level_of_education', 'lunch', 'test_preparation_course']

Complete visualization of the data, which I will explore later taking reference from the github link given in the ep3 video.